$cardWidth: 300px;
.card {
  display: grid;
  grid-template-columns: $cardWidth;
  grid-template-rows: repeat(2, 210px) 80px;
  grid-template-areas: "img" "text" "links";
  border-radius: 18px;
  background-color: #191a1d;
  text-align: center;
  color: #cdcdcd;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media screen and (max-width: 500px) {
    grid-template-columns: 280px;
    grid-template-rows: repeat(2, 170px) 70px;
  }

  &Img {
    grid-area: "img";
    margin-top: 20px;
    img {
      height: 100%;
      border-radius: 50%;
    }
  }

  &Text {
    grid-area: "text";
    margin: 25px;
  }

  &Links {
    height: 100%;
    grid-area: "links";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #e46e73;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    .linkContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .link {
      font-size: 30px;
      color: #000;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.yemployee {
  &Name {
    color: #cdcdcd;
    font-size: 32px;
  }

  &Bio {
    color: #606061;
  }

  &Position {
    color: #e46e73;
  }
}

.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  border-radius: 18px;
  position: absolute;
  z-index: -1;
  inset: -3px;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  -webkit-animation: rgb 6s linear infinite;
  animation: rgb 6s linear infinite;
}

@-webkit-keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
