@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Oswald&family=Roboto:wght@400;900&display=swap");
@import "~antd/dist/antd.css";

// Variables
@import "./abstracts//variables";

// Base
@import "./base/reset";

// Components
@import "./components/buttons";

// Pages
.page {
  min-height: inherit;
  padding-top: 150px;
  @media screen and (max-width: 425px) {
    padding-top: 130px;
  }
}
