.imployee {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  background-color: #3e4046;
  box-shadow: 5px 5px 20px rgba(68, 5, 102, 0.302);
  flex-wrap: wrap;
  padding: 20px;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }

  &-avatar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    img {
      width: 150px;
      border-radius: 50%;
    }
    @media screen and (max-width: 650px) {
      img {
        border-radius: 10px;
      }
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    color: #999;
    font-size: 20px;
    span {
      color: #fff;
      padding-left: 10px;
    }
  }
}
